.C {
	padding: 0%;
	text-align: left;
	font-size: medium;
	color: #a8a8a8;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.show-more-btn {
	color: #a8a8a8;
	cursor: pointer;
	font-weight: bold;
	padding: 0%;
}

.show-more-btn:hover {
	color: #00adb3;
}

.additional-time,
.additional-status {
	display: none;
}
.thCl {
	font-size: xx-large;
	text-align: center;
	font-weight: bold;
	font-style: normal;
}
.thCenter {
	text-align: center;
}
.totalHours {
	font-size: x-large;
	padding: 0%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bolder;
	text-align: center;
}
.isId
{
	font-size: medium;
	text-align: center;
	font-weight: bold;
	font-style: normal;
}
.isId2
{
	font-size: xx-large;
	text-align: center;
	font-weight: bold;
	font-style: normal;
	padding: 0%;
}

#content {
	background-color: rgb(33, 37, 41);
}
#footer {
	background-color: rgb(33, 37, 41);
}
.containerF {
	background-color: rgb(33, 37, 41);
	padding: 50px;
	padding-top: 5px;
}
.containerS {
	background-color: rgb(33, 37, 41);
	padding: 20px;
}
.containerT {
	padding: 30px;
}
.table-row:hover {
	background-color: rgb(109, 1, 93);
}

#categoryChart {
    width: 100%;
	height: 800px;
	padding: 40px;
}

#userChart {
    width: 100%;
	height: 500px;
	padding: 20px;
}

#totalSpentTime {
	font-size: xx-large;
	color: #a8a8a8;
	text-align: center;
	font-weight: bold;
	font-style:italic;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#projectName {
	padding: 0%;
	font-size: xx-large;
	text-align: center;
	color: #a8a8a8;
}